.circle {
  border-radius: 50%;
  height: $circle-diameter;
  transition: height,width .2s linear;
  width: $circle-diameter;
  @media screen and (min-width: $mob-s) {
    height: $circle-diameter * 2;
    width: $circle-diameter * 2;
  }
  @media screen and (min-width: $mob-m) {
    height: $circle-diameter * 2.5;
    width: $circle-diameter * 2.5;
  }
  @media screen and (min-width: $mob-l) {
    height: $circle-diameter * 3;
    width: $circle-diameter * 3;
  }
  @media screen and (min-width: $tablet) {
    height: $circle-diameter * 4;
    width: $circle-diameter * 4;
  }
  @media screen and (min-width: $laptop) {
    height: $circle-diameter * 5;
    width: $circle-diameter * 5;
  }
  @media screen and (min-width: $laptop-l) {
    height: $circle-diameter * 6;
    width: $circle-diameter * 6;
  }
}

.circle-shadow-1{
  box-shadow: 9px 9px 9px 0px rgba(0, 0, 0, 0.5);
}
.circle-shadow-2{
  box-shadow: 9px 3px 4px rgba(0,0,0,.5);
}
.circle-button{
  cursor: pointer;
  border: 10px solid #FCD05C;
  height: $circle-diameter / 2;
  width: $circle-diameter / 2;
  @media screen and (min-width: $mob-s) {
    height: $circle-diameter;
    width: $circle-diameter;
  }
  @media screen and (min-width: $mob-m) {
    height: $circle-diameter * 1.25 ;
    width: $circle-diameter * 1.25
  }
  @media screen and (min-width: $mob-l) {
    height:  $circle-diameter * 1.5;
    width: $circle-diameter * 1.5;
  }
  @media screen and (min-width: $tablet) {
    height: $circle-diameter * 2;
    width: $circle-diameter * 2;
  }
  @media screen and (min-width: $laptop) {
    height: $circle-diameter * 2.5;
    width: $circle-diameter * 2.5;
  }
  @media screen and (min-width: $laptop-l) {
    height: $circle-diameter * 3;
    width: $circle-diameter * 3;
  }
}

.circle--yellow {
  background-color: #EEFF56;
}

.circle--green{
  background-color: #23D385;
}

.circle-row {
  display: inline-block;
}
