.spinner-wrapper{
    padding: 15px;
   
}
.spinner-body{
  transition: transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.spinner-row{
    display: flex;
}
.spinner-row--top{
    justify-content: center;
    transform: translateY($circle-diameter / 4);
    transition: transform .2s linear;
  @media screen and (min-width: $mob-s) {
    transform: translateY(($circle-diameter * 2)/ 4);
  }
  @media screen and (min-width: $mob-m) {
    transform: translateY(($circle-diameter * 2.5)/ 4);
  }
  @media screen and (min-width: $mob-l) {
    transform: translateY(($circle-diameter * 3)/ 4);
  }
  @media screen and (min-width: $tablet) {
    transform: translateY(($circle-diameter * 4)/ 4);
  }
  @media screen and (min-width: $laptop) {
    transform: translateY(($circle-diameter * 5)/ 4);
  }
  @media screen and (min-width: $laptop-l) {
    transform: translateY(($circle-diameter * 6)/ 4);
  }
}
.spinner-row--center{
  justify-content: center;
}
.spinner-row--bottom{
    justify-content: space-around;
    transform: translateY($circle-diameter / -4);
    transition: transform .2s linear;
  @media screen and (min-width: $mob-s) {
    transform: translateY(($circle-diameter * 2)/ -4);
  }
  @media screen and (min-width: $mob-m) {
    transform: translateY(($circle-diameter * 2.5)/ -4);
  }
  @media screen and (min-width: $mob-l) {
    transform: translateY(($circle-diameter * 3)/ -4);
  }
  @media screen and (min-width: $tablet) {
    transform: translateY(($circle-diameter * 4)/ -4);
  }
  @media screen and (min-width: $laptop) {
    transform: translateY(($circle-diameter * 5)/ -4);
  }
  @media screen and (min-width: $laptop-l) {
    transform: translateY(($circle-diameter * 6)/ -4);
  }
    
}

.spinner-button-block{
    display: flex;
    justify-content: center;
    position: relative;
    top : ($circle-diameter * -1) - 10px;
    z-index: 100;
    @media screen and (min-width: $mob-s) {
        top : ($circle-diameter * -2) - 10px;
      }
      @media screen and (min-width: $mob-m) {
        top : ( $circle-diameter * -2.5) - 10px;
      }
      @media screen and (min-width: $mob-l) {
        top : ($circle-diameter * -3) - 10px;
      }
      @media screen and (min-width: $tablet) {
        top : ($circle-diameter * -4) - 10px;
      }
      @media screen and (min-width: $laptop) {
        top : ($circle-diameter * -5) - 10px;
      }
      @media screen and (min-width: $laptop-l) {
        top :( $circle-diameter * -6) - 10px;
      }
}